body {
    overflow: hidden;
}

#main {
    height: 100vh;
    padding: 2rem; 
    overflow-y: scroll;
    text-align: justify;
}

#canvas {
    width: 100%;
    height: 100vh;
}

.input-coordinate {
    width: 100px !important;
}
