html {
    font-size: 0.9em;
}

body {
    overflow: hidden;
}

#main {
    height: 100vh;
    padding: 2rem; 
    overflow-y: scroll;
    text-align: justify;
}

#canvas {
    width: 100%;
    height: 100vh;
}

.raytrace-grid {
    padding-bottom: 20px;
    width: 120px;
}

.raytrace-grid button {
    width: 30px;
    background: #eee;
    border: 1px solid #000;
    border-radius: 0px;
}

.raytrace-grid button:focus {
    background: #ffff00;
}

